<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <!-- Bootstrap start-->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Bootstrap end -->
  </head>
  <body class="bg-light" style="margin-top: 5%">
    <div class="col-lg-4 offset-lg-4 bg-white p-5" style="box-shadow: 8px 8px 3px #ececec;">
      <header class=" d-flex justify-content-center" style="height: 150px">
        <div style="margin:auto">
          <h3 class="text-center"> <strong>ĐĂNG NHẬP</strong></h3>
        </div>
        <div style="margin:auto">
            <img src="https://image.flaticon.com/icons/png/512/149/149071.png" width="100px"/>
        </div>
      </header>
      <div class="bg-light">
        <form>
          <div class="my-3">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="txtUsername" placeholder="Tên đăng nhập..." />
            </div>
          </div>

          <div class="my-3">
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input type="text" class="form-control" id="txtPasssword" placeholder="Mật khẩu...." />
            </div>
          </div>
          <input type="submit" value="Đăng nhập" class="btn btn-block btn-info" />
        </form>
      </div>
    </img>
  </body>
</html>
